<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE | default:'de' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>
    <script>
        const LANGUAGE_CODE = "{{ LANGUAGE_CODE | default:'de' }}";
        const CSRF_TOKEN = '{{ csrf_token }}';
        const IS_DEBUG = {% if debug %} true {% else %} false {% endif %};
        const VERSION = '{{VERSION}}';
    </script>

    <!--link href="{% static '§MAIN_APP§/img/ico/favicon.ico' %}" rel="shortcut icon"-->

    <link rel="stylesheet" type="text/css" href="{% static 'bower/bootstrap/dist/css/bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower/bootstrap/dist/js/bootstrap.js' %}"></script>

    <script type="module" src="{% static 'app_organizer.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static '<!--§MAIN_APP§-->/css/style.css' %}"/>
</head>
<body>

<div class="site-footer">
    <p>By: Martin Starman {% if debug %} DEBUG_MODE {% endif %}</p>
</div>
</body>
</html>
