__pycache__/

/sdctest/db.sqlite3
/lib/
/node_modules/
/coverage/

/.pytest_cache/
sdc.zip
/docs/_build/
/.tool-versions
/sdc_tools/Assets/src/**/*.html
/sdc_user/Assets/src/**/*.html
/test_media/
/media/
/static/
/www/
/plyaground.py
/Assets/tests/dumps/test_data_dump.json
/test_db.sqlite3
/Assets/tests/logs
/Assets/_build/
/db.sqlite3
/Assets/.sdc_python_env
/playground.py
