__pycache__/

/sdctest/db.sqlite3
/lib/
/node_modules/
/coverage/

/.pytest_cache/
sdc.zip
/docs/_build/
/.tool-versions
/sdc_tools/Assets/src/**/*.html
/sdc_user/Assets/src/**/*.html
/test_media/
/media/
/static/
/www/
/plyaground.py
/Assets/tests/dumps/test_data_dump.json
/test_db.sqlite3
/Assets/tests/logs
/Assets/_build/
/db.sqlite3
/Assets/.sdc_python_env
/playground.py
/Assets/src/main_test
/Assets/tests/main_test.test.js
/Assets/tests/sdc_model.test.js
/Assets/tests/controller.test.js
/main_test/Assets/src/main_test/controller/main_view/main_view.html
/main_test/Assets/src/main_test/controller/test_item/test_item.html
/main_test/Assets/src/main_test/controller/logged_in/logged_in.html
/main_test/Assets/src/main_test/controller/error_404/error_404.html
/main_test/Assets/src/main_test/controller/admin_only/admin_only.html
/main_test/Assets/src/main_test/controller/editor_and_staff/editor_and_staff.html
/main_test/Assets/src/main_test/controller/editor_no_staff/editor_no_staff.html
/main_test/Assets/src/main_test/controller/staff_and_admin/staff_and_admin.html
/main_test/Assets/src/main_test/models/Author/Author_list.html
/main_test/Assets/src/main_test/models/Author/Author_details.html
/main_test/Assets/src/main_test/models/Book/Book_details.html
/main_test/Assets/src/main_test/models/Book/Book_list.html
/Assets/src/sdc_tools
/Assets/tests/sdc_tools.test.js
/sdc_tools/Assets/src/sdc_tools/controller/sdc_model_form/sdc_model_form.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_error/sdc_error.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_list_view/sdc_list_view.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_search_view/sdc_search_view.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_detail_view/sdc_detail_view.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_dummy/sdc_dummy.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_alert_messenger/sdc_alert_messenger.html
/sdc_tools/Assets/src/sdc_tools/controller/sdc_navigator/sdc_navigator.html
/Assets/src/sdc_user
/Assets/tests/sdc_user.test.js
/sdc_user/Assets/src/sdc_user/controller/sdc_user_nav_btn/sdc_user_nav_btn.html
/sdc_user/Assets/src/sdc_user/controller/sdc_login/sdc_login.html
/sdc_user/Assets/src/sdc_user/controller/sdc_logout/sdc_logout.html