body {
    background-color: cornflowerblue;
}

body::before {
    content: "SDC Works";
    font-size: larger;
    color: red;
}

.navbar-dummy {
    height: 70px;
}


.collapse:not(.show) .user-manager-main {
    position: absolute;
    right: 5px;
}
