{% load i18n %}
<div class="login-form-box container">
    <form class="ajax-form" method="post" action="{% url 'scd_view_login_view' %}">
        {% csrf_token %}

        {% include "elements/form.html" with form=form %}
        {% if is_next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        <button class="btn-success btn">{% trans 'Login' %}</button>
        <!--a class="navigation-links" href="{% url 'sdc_index' %}~user-register">{% trans 'Register' %}</a-->
        <a href="{% url 'sdc_index' %}~user-password-forgotten" class="navigation-links">{% trans 'Password forgotten' %}</a>
    </form>
</div>