{% load i18n %}

<div class="container">
    <div class="row">
        <form class="ajax-form" method="post" action="{% url 'scd_view_user_register' %}">
            {% csrf_token %}
            {% if is_next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            <input type="hidden" name="is_login" value="{{ is_login }}">
            <input type="hidden" name="_method" value="api">
            {% include "elements/form.html" with form=form %}
            <button class="btn-success btn">{% trans 'Register' %}</button>
        </form>
    </div>
</div>