{% load i18n %}
<div class="nav-item dropdown user-manager-main">
    {% if user.is_authenticated %}
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% trans 'User' %}: {{ user }}</button>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <a class="dropdown-item navigation-links" href="{% url 'sdc_index' %}~user-edit">{% trans 'Edit' %}</a>
        <a class="dropdown-item navigation-links" href="{% url 'sdc_index' %}~user-change-password">{% trans 'Change password' %}</a>
        <user-logout></user-logout>
    </div>
    {% else %}
        <button class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% trans 'Login' %}</button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <login-view></login-view>
        </div>
    {% endif %}
</div>