{% extends "email/base.html" %}

{% load i18n %}


{% block content %}

    <div class="email-header">
        {% trans 'Hello' %} {{ user.first_name }} {{ user.last_name }},
    </div>

    <div class="email-body">
        {% trans 'The following link allows you to set a new password.' %}
        <div class="btn-container">
            <a class="btn" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'sdc_index' %}~user-confirm-email~&key={{ link.email_confirm_link }}">{% trans 'Change password' %} </a>

        </div>
    </div>

{% endblock %}