{% load i18n %}
<style>
    .captcha-wrapper p {
        margin: 0;
    }

    .captcha-wrapper.OK {
        background-color: #4cae4c;

    }

    .captcha-wrapper {
        background-color: #00d4ff;
        transition: background-color 1s;
        color: white;
        padding: 7px;
        border-radius: 8px;
        position: relative;
    }


    .captcha-wrapper input {
        position: absolute;
        top: 7px;
        height: 0;
        width: 0;
        z-index: 0;
        opacity: 0;
    }

    .only-hover {
        display: none;
    }

    .no-hover {
        display: block;
    }

    .shit .only-ok {
        display: none;
    }

    .OK .only-shit {
        display: none;
    }

    .captcha-wrapper.active .no-hover {
        display: none;
    }

    .captcha-wrapper.active .only-hover {
        display: block;
    }

</style>

<script>


    function captchaWrapper(e) {
        let $captcha = $('.captcha-wrapper');
        $captcha.toggleClass('active')
        if ($captcha.hasClass('active')) {
            document.getElementById("id_chapter").focus();
            let $input = $captcha.find('#id_chapter');
            $input.val($input.data('start-val'));
            $captcha.removeClass('OK').addClass('shit');
        }
    }

    (function () {
        let $captcha = $('.captcha-wrapper');
        let $input = $captcha.find('#id_chapter');
        $input.keyup((e) => {
            if ($input.val().length > 1) {
                let val = $input.data('start-val');
                let reg = new RegExp("^" + val + "{2,}$", "gsm");
                $input.blur();
                if ($input.val().toUpperCase().match(reg)) {
                    $captcha.addClass('OK').removeClass('shit');
                } else {
                    $captcha.removeClass('OK').addClass('shit');
                }
            }
        });

        $input.focusout((e) => {

            setTimeout(() => {
                $captcha.removeClass('active');
            }, 200);
        });
    })();


</script>

<div class="captcha-wrapper shit" onclick="captchaWrapper()">
    <p class="no-hover only-shit">{% trans 'Please click here first!' %}</p>
    <p class="no-hover only-ok">{% trans 'Accepted as human' %}</p>
    <p class="only-hover">{% trans 'Please type ' %}
        "<b>{{ widget.value }}</b>" {% trans ' to prove that you are not a bot' %}</p>
    <input type="{{ widget.type }}"
           data-start-val="{{ widget.value }}"
           name="{{ widget.name }}"
            {% if widget.value != None %}
           value="{{ widget.value }}"
            {% endif %}
            {% include "django/forms/widgets/attrs.html" %} />
</div>
