@use "../../node_modules/bootstrap/dist/css/bootstrap";
@use "../libs/sdc_user/sdc_user.style";
@use "../libs/sdc_tools/sdc_tools.style";
@use "test_app_one/test_app_one.style";

body {
    background-color: cornflowerblue;

    .navbar-dummy {
        height: 70px;
    }
}